/* your custom css */

.example-image > div {
  width: 510px;
  height: 400px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .split-container {
    display: inline-block;
    width: 100%;
  }

  .split-left {
    width: 50%;
    float: left;
  }

  .split-right {
    width: 50%;
    float: right;
  }
}

@media only screen and (max-width: 1023px) {
  .hide-small {
    display: none;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
